.vs
.cache

#Build Results
bin/
obj/
*.p7s
*.nupkg
*.png
*.dll
*.xml
ServiceTicketClientApp/Contract/Contract.csproj.rej
ServiceTicketClientApp/.vs/ServiceTicketClientApp/v16/.suo
*.user
*.suo
